* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-width: 650px;
}

#root {
  position: relative;
  font-size: 1.6rem;
  line-height: 1.5;
  background: #000002;
  min-width: 650px;
  font-family: Open Sans, sans-serif;
  color: #ffffff;
  overflow: hidden;
}

h1 {
  position: relative;
  margin: 0;
  padding-left: 24px;
  font-size: 8.3rem;
  line-height: 8.7rem;
  max-width: 1200px;
  word-wrap: break-word;
  font-weight: 400;
}

h1:before {
  content: "<h1>";
  font-family: "La Belle Aurore", cursive;
  color: #2d638c;
  font-size: 1.8rem;
  position: absolute;
  margin-top: -6rem;
  left: -1.5rem;
}

h1:after {
  content: "</h1>";
  font-family: "La Belle Aurore", cursive;
  color: #2d638c;
  font-size: 1.8rem;
  position: absolute;
  margin-top: 3.8rem;
  margin-left: 2rem;
}

h1 {
  margin-left: -24px;
}

span.space {
  margin-left: 24px;
}

p {
  margin-left: 0.5rem;
  color: #a0f3ff;
}

p span:after {
  margin: 1rem;
  content: "|";
  color: #ffffff;
}

p span:last-of-type:after {
  content: "";
}

.tags {
  color: #2d638c;
  position: absolute;
  bottom: 0;
  left: 3rem;
  font-style: italic;
  font-size: 1.8rem;
  font-family: "La Belle Aurore", cursive;
}

.top-tags {
  bottom: auto;
  top: 2rem;
}

.top-tags:after {
  content: "<body>";
  font-family: "La Belle Aurore", cursive;
  color: #2d638c;
  font-size: 1.8rem;
  position: absolute;
  margin-left: 4rem;
}

.bottom-tags {
  bottom: 2rem;
  top: auto;
}

.bottom-tags:before {
  content: "</body>";
  font-family: "La Belle Aurore", cursive;
  color: #2d638c;
  font-size: 1.8rem;
  position: absolute;
  margin-left: 4rem;
}

.outer-page {
  min-height: 100vh;
  position: relative;
}

.inner-page {
  position: absolute;
  left: 16rem;
  display: flex;
  align-items: center;
  height: 100vh;
  min-width: 320px;
}

.home-section {
  position: relative;
  max-width: 1200px;
  z-index: 1;
}

@media screen and (max-width: 1300px) {
  h1 {
    font-size: 8.6rem;
    line-height: 7rem;
  }
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 8.3rem;
    line-height: 7rem;
  }
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 8rem;
    line-height: 7rem;
  }
}
